.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.main-button{
    color: #000;
    background: gold;
    border: 1px solid darkgrey;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    outline: 0px;
    cursor: pointer;
}
.main-button:active{
    color: #000;
    background: goldenrod;
    border: 1px solid darkgrey;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    outline: 0px;
}